# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.txt eol=lf

# Don't modify line ending on xml files.
*.xml -text
