version: 2.1

orbs:
  maven: circleci/maven@0.0.12

shared: &shared
  steps:
    - checkout
    - restore_cache:
        keys:
          - sortpom-cache-{{ checksum "pom.xml" }}
          - sortpom-cache- # fallback in case previous cache key is not found
    - run: |
        mvn \
        -Dtest=$(for file in $(circleci tests glob "src/test/**/**.java" \
        | circleci tests split --split-by=timings); \
        do basename $file \
        | sed -e "s/.java/,/"; \
        done | tr -d '\r\n') \
        -Dmaven.javadoc.skip=true -e -B -V verify
    - store_test_results: # We use this timing data to optimize the future runs
        path: target/surefire-reports
    - save_cache:
        paths:
          - ~/.m2
        key: sortpom-cache--{{ checksum "pom.xml" }}

jobs:
  jdk17:
    docker:
      - image: cimg/openjdk:17.0
    <<: *shared
  jdk18:
    docker:
      - image: cimg/openjdk:18.0
    <<: *shared
  jdk11:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - sortpom-cache-{{ checksum "pom.xml" }}
            - sortpom-cache- # fallback in case previous cache key is not found
      - run: mvn clean verify -DskipTests=true -Dmaven.javadoc.skip=true -Dinvoker.skip=true -B -V
      - run: mvn clean jacoco:prepare-agent integration-test jacoco:report -B
      - run: mvn coveralls:report -B -DrepoToken=$COVERALLS_REPO_TOKEN
      - run: mvn sonar:sonar -Dsonar.projectKey=com.github.ekryd.sortpom:sortpom-parent -Dsonar.organization=ekryd-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONARCLOUD_TOKEN
      - save_cache:
          paths:
            - ~/.m2
          key: sortpom-cache--{{ checksum "pom.xml" }}

workflows:
  version: 2
  work:
    jobs:
      - jdk17
      - jdk18:
          requires:
            - jdk17
      - jdk11:
          filters: # using regex filters requires the entire branch to match
            branches:
              only: # only branches matching the below regex filters will run
                - master
          requires:
            - jdk17
            - jdk18
        
