version: 2.1

orbs:
  maven: circleci/maven@2.0.0

shared: &shared
  steps:
    - checkout
    - restore_cache:
        keys:
          - sortpom-cache-{{ checksum "pom.xml" }}
          - sortpom-cache- # fallback in case previous cache key is not found
    - run: mvn clean verify -Dmaven.javadoc.skip=true -B -V
    - save_cache:
        paths:
          - ~/.m2
        key: sortpom-cache--{{ checksum "pom.xml" }}

jobs:
  jdk11:
    docker:
      - image: cimg/openjdk:11.0.26
    <<: *shared
  jdk20:
    docker:
      - image: cimg/openjdk:20.0
    <<: *shared
  jdk21:
    docker:
      - image: cimg/openjdk:21.0
    <<: *shared
  jdk22:
    docker:
      - image: cimg/openjdk:22.0
    <<: *shared
  jdk23:
    docker:
      - image: cimg/openjdk:23.0
    <<: *shared
  jdk17:
    docker:
      - image: cimg/openjdk:17.0.14
    steps:
      - checkout
      - restore_cache:
          keys:
            - sortpom-cache-{{ checksum "pom.xml" }}
            - sortpom-cache- # fallback in case previous cache key is not found
      - run: mvn clean verify -DskipTests=true -Dmaven.javadoc.skip=true -Dinvoker.skip=true -B -V
      - run: mvn clean jacoco:prepare-agent integration-test jacoco:report -B
      - run: mvn coveralls:report -B -DrepoToken=$COVERALLS_REPO_TOKEN
      - run: mvn sonar:sonar -Dsonar.projectKey=com.github.ekryd.sortpom:sortpom-parent -Dsonar.organization=ekryd-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.token=$SONARCLOUD_TOKEN
      - save_cache:
          paths:
            - ~/.m2
          key: sortpom-cache--{{ checksum "pom.xml" }}

workflows:
  version: 2
  work:
    jobs:
      - jdk21
      - jdk20:
          requires:
            - jdk21
      - jdk22:
          requires:
            - jdk21
      - jdk23:
          requires:
            - jdk21
      - jdk11:
          requires:
            - jdk21
      - jdk17:
          filters: # using regex filters requires the entire branch to match
            branches:
              only: # only branches matching the below regex filters will run
                - master
          requires:
            - jdk11
            - jdk20
            - jdk21
            - jdk22
            - jdk23

